@import '../variables.styl'


$itemHeight = 34px
$borderWidth = 2px
$itemPadding = 3px
$paddingRight = 12px
$checkboxMarginRight = 4px
$transitionTime = 0.3s
$contentSize = $itemHeight - (2 * ($borderWidth + $itemPadding))
$textTranslate = - (($contentSize - $paddingRight / 2) / 2)

.theme_light
    // .switcher
    //     border: $borderWidth solid $chartListItemBorderColor
    //     color: $chartListItemTextColor
    // .switcher
    //     .switcherInner
    //         background-color: $chartBgColor

.theme_dark
    // .switcher
    //     border: $borderWidth solid $chartListItemBorderColorDark
    //     color: $chartListItemTextColorDark
    // .switcher
    //     .switcherInner
    //         background-color: $chartBgColorDark

.root
    padding: 5px $padding 15px
    left: $padding

.list
    height: 100%
    display: flex
    flex-wrap: wrap
    align-items: center

.switcher
    border-width: $borderWidth
    border-style: solid
    border-radius: $itemHeight
    padding: $itemPadding
    padding-right: $paddingRight
    line-height: $contentSize
    font-size: 14px
    cursor: pointer
    display: flex
    transition: background-color $transitionTime ease-out
    margin-top: 10px

    &:not(:last-child)
        margin-right: 10px

    .title
        transition: color $transitionTime ease-out, transform $transitionTime ease-out
        transform: translate($textTranslate, 0)
        -ms-user-select: none; 
        -moz-user-select: none; 
        -webkit-user-select: none; 
        user-select: none; 

    &.checked
        .checkbox
            transform: scale(1, 1)
            opacity: 1
        .title
            transform: translate(0, 0)

.checkbox
    position: relative
    margin-right: $checkboxMarginRight
    width: $contentSize
    height: $contentSize
    border-radius: $contentSize
    background-image: url('./check.svg');
    background-repeat: no-repeat
    background-size: 75%
    background-position: 50% 50%
    transform: scale(0.1, 0.1)
    opacity: 0
    transition: transform $transitionTime ease-out, opacity $transitionTime ease-out
