@import '../variables.styl'

.themeSwitcher
    padding: 30px 0
    display: flex
    justify-content: center

.switcher
    cursor: pointer
    font-size: 16px
    padding: 10px
    color: #108BE3
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none; 
