@import '../variables.styl'

.theme_light
    .spacer
        background-color: $chartBgColor

.theme_dark
    .spacer
        background-color: $chartBgColorDark

.chartView
    position: absolute
    left: 0
    top: 0

.spacer
    position: absolute
    top: 100%
    left: 0
    right: 0
