@import '../variables.styl'

.chart
    position: relative;
    box-sizing: border-box;

    &.theme_light
        background-color: $chartBgColor;

    &.theme_dark
        background-color: $chartBgColorDark;

.fps
    position: absolute
    top: -50px
    right: 0
    padding: 10px 20px
    line-height: 30px
    color: #404040
