
maxWidth(width)
    @media all and (max-width: width)
        {block}

minWidth(width)
    @media all and (min-width: width)
        {block}

maxHeight(height)
    @media all and (max-height: height)
        {block}

onlyTouch()
    @media (pointer: coarse)
        {block}

$padding = 15px

$labelsFontColor = #919196
$gridLineColor = alpha(#182D3B, 0.1)
$chartBgColor = #ffffff;
$gridLineTextBgColor = alpha($chartBgColor, 0.8)
// $scalerShadowBgColor = rgba(225,238,249,0.6)
$scalerShadowBgColor = alpha(#E2EEF9, 0.6)
$scalerControlBorderColor = #c0d1e1
$verticalLineColor = $gridLineColor
// $chartListItemBorderColor = rgba(0,0,0,0.2)
// $chartListItemTextColor = #404040

$labelsFontColorDark = #848d97
$gridLineColorDark = alpha(#FFFFFF, 0.1)
$chartBgColorDark = #242f3e
$gridLineTextBgColorDark = alpha($chartBgColorDark, 0.8)
// $scalerShadowBgColorDark = rgba(49,66,87,0.6)
$scalerShadowBgColorDark = alpha(#304259, 0.6)
$scalerControlBorderColorDark = #56626D
$verticalLineColorDark = $gridLineColorDark
// $chartListItemBorderColorDark = #344658
// $chartListItemTextColorDark = #ffffff
