@import '../common.styl'

resizerWidth = 10px;

.chartScaler
    position: absolute
    left: 20px
    bottom: 20px
    .svg
        position: absolute
        left: 0;
        top: 0;

.shadow
    position: absolute
    top: 0
    bottom: 0
    background-color: rgba(0,0,0,0.1)
    &.leftShadow
        left: 0

    &.rightShadow
        right: 0

.control
    box-sizing: border-box
    position: absolute
    top: 0
    bottom: 0
    border-top: 2px solid rgba(0,0,0,0.2)
    border-bottom: 2px solid rgba(0,0,0,0.2)
    border-left: resizerWidth solid rgba(0,0,0,0.2)
    border-right: resizerWidth solid rgba(0,0,0,0.2)
    touch-action: none
    .resizer
        position: absolute
        top: -2px
        bottom: -2px
        width: resizerWidth
        cursor: col-resize
        // background-color: rgba(0,200,0,0.3);
    
        +onlyTouch()
            width: resizerWidth * 3;

    .startResizer
        left: - resizerWidth
    
        +onlyTouch()
            left: - resizerWidth * 2

    .endResizer
        right: - resizerWidth
    
        +onlyTouch()
            right: - resizerWidth * 2

    .mover
        position: absolute
        top: -2px
        bottom: -2px
        left: 0
        right: 0
        cursor: grab
        // background-color: rgba(0,0,200,0.3)
    
        +onlyTouch()
            left: resizerWidth
            right: resizerWidth

        &:active
            cursor: grabbing
