
maxWidth(width)
    @media all and (max-width: width)
        {block}

minWidth(width)
    @media all and (min-width: width)
        {block}

maxHeight(height)
    @media all and (max-height: height)
        {block}

onlyTouch()
    @media (pointer: coarse)
        {block}
