@import '../variables.styl'

$resizerWidth = 10px
$topBottomBorderWidth = 1px
$radius = 5px

.theme_light
    &.chartScaler:before,
    &.chartScaler:after
        background-color: $chartBgColor
    .shadow
        background-color: $scalerShadowBgColor
    .control
        border-top: $topBottomBorderWidth solid $scalerControlBorderColor
        border-bottom: $topBottomBorderWidth solid $scalerControlBorderColor
        border-left: $resizerWidth solid $scalerControlBorderColor
        border-right: $resizerWidth solid $scalerControlBorderColor

.theme_dark
    &.chartScaler:before,
    &.chartScaler:after
        background-color: $chartBgColorDark
    .shadow
        background-color: $scalerShadowBgColorDark
    .control
        border-top: $topBottomBorderWidth solid $scalerControlBorderColorDark
        border-bottom: $topBottomBorderWidth solid $scalerControlBorderColorDark
        border-left: $resizerWidth solid $scalerControlBorderColorDark
        border-right: $resizerWidth solid $scalerControlBorderColorDark


.chartScaler
    position: absolute
    left: $padding
    &:before,
    &:after
        content: ''
        display: block
        position: absolute
        top: 0
        bottom: 0
        width: $padding

    &:before
        left: - $padding

    &:after
        right: - $padding

.shadow
    position: absolute
    top: 0
    bottom: 0
    &.leftShadow
        left: 0
        border-radius: $radius 0 0 $radius

    &.rightShadow
        right: 0
        border-radius: 0 $radius $radius 0

.control
    box-sizing: border-box
    position: absolute
    top: 0
    bottom: 0
    touch-action: none
    border-radius: $radius
    .resizer
        position: absolute
        top: - $topBottomBorderWidth
        bottom: - $topBottomBorderWidth
        width: $resizerWidth
        cursor: col-resize
        z-index: 2

        +onlyTouch()
            width: $resizerWidth * 3;

    .startResizer
        left: - $resizerWidth
    
        +onlyTouch()
            left: - $resizerWidth * 2

    .endResizer
        right: - $resizerWidth
    
        +onlyTouch()
            right: - $resizerWidth * 2

    .mover
        position: absolute
        top: - $topBottomBorderWidth
        bottom: - $topBottomBorderWidth
        left: 0
        right: 0
        cursor: grab
    
        +onlyTouch()
            left: $resizerWidth
            right: $resizerWidth

        &:active
            cursor: grabbing
    &:before,
    &:after
        content: ''
        display: block
        height: 10px
        width: 2px
        border-radius: 2px
        background-color: #ffffff
        position: absolute
        top: calc(50% - 5px)

    &:before
        left: - ($resizerWidth / 2 + 1)

    &:after
        right: - ($resizerWidth / 2 + 1)
