
maxWidth(width)
    @media all and (max-width: width)
        {block}

.wrapper
    position: fixed
    left: 0
    right: 0
    top: 0
    bottom: 0

.root
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    background-color: #f0f0f0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

.chartWrapper
    position: relative;
    width: 1000px;
    margin: 15px auto;
    +maxWidth(1020px)
        width: 100%
        &:first-child
            margin-top: 0
        &:last-child
            margin-bottom: 0

.settings
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #404040;
    label
        margin-left: 10px
        user-select: none
        cursor: pointer
    input
        cursor: pointer
