@import '../variables.styl'

.theme_light
    .line
        background-color: $labelsFontColor
    .mark
        background-color: $chartBgColor

.theme_dark
    .line
        background-color: $labelsFontColorDark
    .mark
        background-color: $chartBgColorDark

.root
    position: absolute
    left: $padding
    &.visible
        .line
            display: block

.line
    position: absolute
    top: 0
    bottom: 0
    width: 1px
    display: none

.mark
    position: absolute
    box-sizing: border-box
    left: -6px;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin-bottom: -6px
    border-width: 2px
    border-style: solid
